@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --widgetBg: #FF2F80
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: env(safe-area-inset-bottom);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.animated-button {
    position: relative;
    overflow-x: hidden;
    min-height: 40px;
}

.animated-button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.animated-button:hover::after {
    transform: translateX(0);
    background-color: #02172E;
}

.animated-button:hover svg {
    transform: rotate(42deg);
    fill: #02172E;
}

.hover-container {
    cursor: pointer;
    height: 40px;
}

.hover-container:hover .hover-hide {
    transition: opacity 0.3s ease-in-out;
    display: none;
}

.hover-container .hover-hide {
    transition: opacity 0.3s ease-in-out;
}

.hover-container .hover-show {
    display: none;
}

.hover-container:hover .hover-show {
    display: flex;
    transition: opacity 0.3s ease-in-out, transform 0s ease-in-out;
}

.disconnect-button {
    display: flex;
    transition: transform 0.3s ease-in-out;
    transform: translateX(106px);
}

.disconnect-button .disconnect-button-hide {
    transition: transform 0.3s ease-in-out;
}

.disconnect-button:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.disconnect-button:hover .disconnect-button-hide {
    transition: transform 0.3s ease-in-out;
    opacity: 0;
}

.add-to-wallet-button {
    display: flex;
    gap: 40px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(98px);
}

.add-to-wallet-button .add-to-wallet-button-hide {
    transition: transform 0.3s ease-in-out;
}

.add-to-wallet-button:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-25px);
}

.add-to-wallet-button:hover .add-to-wallet-button-hide {
    transition: transform 0.3s ease-in-out;
    opacity: 0;
}

.copy-button {
    display: flex;
    transition: transform 0.3s ease-in-out;
    transform: translateX(71px);
}

.copy-button .copy-button-hide {
    transition: transform 0.3s ease-in-out;
}

.copy-button:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.copy-button:hover .copy-button-hide {
    transition: transform 0.3s ease-in-out;
    opacity: 0;
}


/* Solana wallet */
.wallet-adapter-dropdown {
    width: 100%;
    
}

 .wallet-adapter-dropdown .wallet-adapter-button-start-icon {
    display: none;
}

@keyframes flash-in {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    50% {
      transform: scale(1.05); 
      opacity: 0.5;
    }
    100% {
      transform: scale(1.1); 
      opacity: 1;
    }
  }
  
  @keyframes flash-out {
    0% {
      transform: scale(1.1); 
      opacity: 0;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.5;
    }
    100% {
      transform: scale(1); 
      opacity: 1;
    }
  }
  
  .nft-success-image-hover {
    animation: flash-out 300ms ease-in-out forwards; 
  }
  
  .nft-success-image-hover:hover {
    animation: flash-in 300ms ease-in-out forwards;
  }

  .preview-media-container:hover .market-place-link {
    display: block;
  }

  .preview-media-container:hover .market-place-icon {
    display: none;
  }